
body { 
background-color: #391d57;
  }
  h1{
    color : rgb(63, 6, 106);
 text-align: center;
 background-color: #be90f0;
    
  }
 .hedder{
    color :#370548;
    background-color: rgb(197, 85, 231);
 }
  
  .container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .player-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(239, 0, 0, 0.1);
    transition: all 2s ease;
  }
  
  .player-box img {
    width: 200px;
    height: 250px;
    border-radius: 75%;
  }
  
  .player-box p {
    margin-top: 20px;
  }
  
  .best {
    background-color: #d088e0; /* Set color for the best player box */
  }
  
  .best:hover {
    transform: scale(1.1); /* Add animation on hover */
  }